<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
		<script src="{{ url_for('static', filename='node_modules/bootstrap/dist/bootstrap.min.js')}}"></script>
	</head>
	<script src="{{ url_for('static', filename='js/page1-bundle.js') }}"></script>
	<script src="{{ url_for('static', filename='js/index-bundle.js') }}"></script>
	<body>
		<div class="container">
			<h1>Test</h1>
		</div>
	</body>
</html>
